<manifest  xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- It's needed for GeocoderTest to programmatically skip the tests if no network connection -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>